<% content_for :flash_message do %>
  <%= render :partial => "common/flash_messages", :locals => {:object => nil}%>
<% end %>

<%= content_for :more_javascripts do %>
  <%= javascript_include_tag "jquery.dynatree" %>
  <%= stylesheet_link_tag "ui.dynatree" %>
<% end %>

<%= content_for :title_page do %>
  <h2>Древовидная Схема Рефералов</h2>
<% end %>

<%= render :partial => "users_tree" %>

