<% content_for :flash_message do %>
  <%= render :partial => "common/flash_messages", :locals => {:object => nil} %>
<% end %>

<%= content_for :more_javascripts do %>
  <%= javascript_include_tag "jquery.dynatree" %>
  <%= stylesheet_link_tag "ui.dynatree" %>
  <%= javascript_include_tag "jquery.dataTables" %>
  <%= stylesheet_link_tag "datatable/demo_table" %>
  <%= stylesheet_link_tag "datatable/demo_table_jui" %>
  <%= stylesheet_link_tag "datatable/demo_page" %>
<% end %>

<%= content_for :title_page do %>
  <h2>Информационная страница</h2>
<% end %>

<div id="list-top"></div>
<div id="list-left" class="splitcontentleft">
  <div class="mypage-box">
    <h3>Древовидная Схема Рефералов</h3>
    <%= render :partial => "users_tree" %>
  </div>
</div>
<div id="list-right" class="splitcontentright">
  <div class="mypage-box">
    <h3>Информация о пользователе</h3>
    <div id="details_user_information">
      <p class="nodata">Пользователь не выбран</p>
    </div>
  </div>
</div>

<table class='data-table display' style="width: 100%">
  <thead>
  <tr>
    <th>Уровень</th>
    <th>Количество Пользоветелей</th>
    <th>Активных</th>
    <th>Не активных</th>
    <th>Карточка</th>
    <th>Счет</th>
  </tr>
  </thead>
  <tbody>
  <tr></tr>
  </tbody>
  <tfoot>
  <tr></tr>
  </tfoot>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable({
      bSort: false,
      //bJQueryUI: true,
      //bProcessing: true,
      bPaginate: false,
      bFilter: false,
      bAutoWidth: true,
      bInfo: false,
      sAjaxSource: "users/<%= current_user.id %>/load_data_table/"
    });
  });
</script>

