<h2>Редактирование <%= resource.email %></h2>

<% content_for :flash_message do %>
  <%= render :partial => "common/flash_messages", :locals => {:object => @user} %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>

  <p><%= f.label :email, "Почтовый адрес" %><br/>
    <%= f.email_field :email %></p>

  <p><%= f.label :full_name, "Ф.И.О" %><br/>
    <%= f.text_field :full_name %></p>

  <p><%= f.label :password, "Новый пароль" %> <i>(Оставте пустым, если не хотите менять пароль)</i><br/>
    <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Пдтверждение пароля" %><br/>
    <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password, "Текущий пароль" %> <i>(ввести текущий пароль, для сохранения данных)</i><br/>
    <%= f.password_field :current_password %></p>
  <p>
    <%= label_tag "Тарфиный план" %>
  <table class="list" style="width:265px">
    <thead>
    <tr>
      <th>Kyivstar</th>
      <th>Life</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= select_tag "user[tariff_ids][]", options_for_select(mobile_tariff_options("Kyivstar"),
                                                                  params[:user]? params[:user][:tariff_ids] :
                                                                          f.object.tariffs_users.map(&:tariff_id)),
                         {:style => "width:100%"} %>
      </td>
      <td><%= select_tag "user[tariff_ids][]", options_for_select(mobile_tariff_options("Life"),
                                                                  params[:user]? params[:user][:tariff_ids] :
                                                                          f.object.tariffs_users.map(&:tariff_id)),
                         {:style => "width:100%"} %></td>
    </tr>
    </tbody>
  </table>
  <em>Тарифные планы можно комбинировать</em>
  </p>
  <p><%= f.submit "Обновить" %>&nbsp;|&nbsp;<%= link_to "Назад", :back %></p>
<% end %>

