<p>
  <label for="email">Почтовый адрес<span class="required"> *</span></label>
  <%= f.text_field :email %>
  <em></em>
</p>

<p>
  <label for="password">Пароль<span class="required"> *</span></label>
  <%= f.password_field :password, :autocomplete => "off" %>
  <em></em>
</p>

<p>
  <label for="password_confirmation">
    Подтвердить Пароль<span class="required"> *</span>
  </label>
  <%= f.password_field :password_confirmation, :autocomplete => "off" %>
  <em></em>
</p>

<p>
  <label for="parent_id">Информационный номер спонсора<span class="required"> *</span></label>
  <%= f.text_field :parent_id %><br/>
  <em>Указать номер связи с пользователем или начать ввод почтового адреса</em>
</p>

<p>
  <label for="full_name">Ф.И.О<span class="required"> *</span></label>
  <%= f.text_field :full_name %>
  <em></em>
</p>

<div>
  <div style="float:left;">
    <p><%= label_tag "Тарфиный план" %></p>
  </div>
  <div style="float:left; margin-left:10px;">
    <table class="list" style="width:255px;">
      <thead>
      <tr>
        <th>Kyivstar</th>
        <th>Life</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= select_tag "user[tariff_ids][]", options_for_select(mobile_tariff_options("Kyivstar"),
                                                                    params[:user] ? params[:user][:tariff_ids] :
                                                                            f.object.tariffs_users.map(&:tariff_id)),
                           {:style => "width:100%"} %>
        </td>
        <td><%= select_tag "user[tariff_ids][]", options_for_select(mobile_tariff_options("Life"),
                                                                    params[:user] ? params[:user][:tariff_ids] :
                                                                            f.object.tariffs_users.map(&:tariff_id)),
                           {:style => "width:100%"} %></td>
      </tr>
      </tbody>
    </table>
    <em>Тарифные планы можно комбинировать</em>
  </div>
</div>

<p>
  <label for="admin">
    Контактные номера
  <span class="required"> &nbsp;</span><br />
  <%= link_to "Добавить номер", add_phone_admin_users_path, :remote => true %>&nbsp;&nbsp;&nbsp;
  </label>
  <span id="phones">
  <%= f.fields_for :phones do |f_p| %>
      <% id = generate_rendom_id %>
      <%= f_p.hidden_field :_destroy, :id => id %>
      <%= raw f_p.text_field :number, :id => "field_#{id}" %>
      <span id="delete_span_<%= id %>">
        <%= link_to_function "Удалить номер", "$('##{id}').val(true); $('#field_#{id}').css('background', 'red');
        $('#delete_span_#{id}').toggle(); $('#return_span_#{id}').toggle(); return false;" %>
      </span>
      <span id="return_span_<%= id %>" style="display:none;">
        <%= link_to_function "Отменить", "$('##{id}').val(false); $('#field_#{id}').css('background', 'white');
        $('#delete_span_#{id}').toggle(); $('#return_span_#{id}').toggle(); return false;" %>
      </span>
      <br />
  <% end %>
  </span>
</p>

<p>
  <label for="active">Дата отключения<span class="required"> &nbsp;</span></label>
  <%= f.text_field :date_of_trip %>
  <em></em>
</p>

<p>
  <label for="admin">Администратор<span class="required">&nbsp;</span></label>
  <%= f.check_box :admin %>
  <em></em>
</p>

<script>
  $("input#user_parent_id").autocomplete({
    source: function(request, response) {
      $.ajax({
        type: 'GET',
        data: {user_email:$('#user_parent_id').val()},
        url: '/admin/users/load_users',
        success: function(data) {
          response(data);
        },
        dataType: "json"
      });
    }
  });

</script>

