<tr class="<%= cycle('odd', 'even')%>">
  <td><span><%= user.email %></span></td>
  <td align="center" style="width:15%;"><%= user.full_name %></td>
  <td class="buttons">
    <%= link_to "Редактировать", edit_admin_user_path(user) %>
    <%= link_to "Удалить", admin_user_path(user), :method => "delete" %>
  </td>
</tr>

