<!DOCTYPE html>
<html>
  <head>
    <title>MCM</title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'ui_templates', :media => 'all' %>
    <%= stylesheet_link_tag 'themes/basecamp/application.css', :media => 'all' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery', 'rails' %>
    <%= csrf_meta_tag %>
    <%= yield :more_javascripts %>
  </head>
  <body class="<%#= body_css_classes %>">
    <div id="wrapper">
      <div id="wrapper2">
        <div id="top-menu">
          <% if current_user %>
            <div id="account">
              <ul>
                <li>
                  Пользователь <%= link_to current_user.email, edit_user_registration_path(current_user) %>
                </li>
                <li><%= link_to "Выход", destroy_user_session_path, :class => "logout" %></li>
              </ul>
            </div>
            <div id="loggedas"></div>
          <% end %>
        </div>
      </div>

      <div id="header">
        <h1>MCM</h1>
        <div id="quick-search">
        </div>

        <div id="main-menu">
          <%#= raw navigation_menu  if current_user %>
        </div>
      </div>

      <div class="" id="main">
        <div id="sidebar">
        </div>

        <div id="content">
          <div class="contextual">
            <%= yield :contextual %>
          </div>
          <%= yield :title_page %>
          <%= yield :flash_message %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="ajax-indicator" style="display:none;"><span><%#= l(:label_loading) %></span></div>

    <div id="footer">
      <div class="bgl">
        <div class="bgr">
          Powered by <%= link_to "mcm", "http://mcm.com" %> &copy; 20010-2011
        </div>
      </div>
    </div>
  </body>
</html>

